@use './Pages/header';
@use './Pages/footer';
@use './Global/global';

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    padding: 80px 0;

.hero_wraper{
    @include flex;

    .hero_title{
        color: var(--color-white);
        width: 500px;
        font-size: 42px;
        font-weight: 500;
    }
    .hero_text{
        color: var(--color-grey);
        width: 448px;
        font-size: large;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .hero_input{
        padding: 20px;
        width: 450px;
        height: 64px;
        border-radius: 10px;
        background: var(--bg-black);
        color: var(--color-white);
        border: 1px solid var(--color-grey);
        outline: none;
    }
    .hero_btns{
        display: flex;
        align-items: end;
        justify-content: start;
        gap: 20px;
        margin-top: 40px;
    }
    .hero_icon-btn{
        background: transparent;
        border: none;
        outline: none;
    }
}
}